/* Transiciones suaves para el cambio de tema */
*,
*::before,
*::after {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Excepciones para animaciones específicas */
[data-motion],
.motion-safe,
button:active,
a:active {
  transition-duration: 150ms;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
}